@media screen and (max-device-width: 375px) and (max-device-height: 670px) {
  #pic1 {
    height: 240px;
  }

  #pic2 {
    height: 240px;
    bottom: -20px;
  }

  #pic3 {
    height: 240px;
    bottom: -20px;
  }

  #pic4 {
    height: 190px;
    top: 90px;
  }

  .page1Content {
    h1 {
      font-size: 18px;
      line-height: 28px;
      bottom: 0px;
    }
  }

  .page2 {
    .page2Content {
      margin-top: 40px;

      h1 {
        font-size: 18px;
        margin: 0;
      }

      h2 {
        font-size: 16px;
        margin: 0;
        margin-top: 5px;
      }

      .collaborations {
        margin-top: 100px;
      }
    }
  }
}

@media screen and (max-device-width: 360px) {
  #pic1 {
    height: 220px;
  }

  #pic2 {
    height: 200px;
    bottom: 10px;
  }

  #pic3 {
    height: 200px;
    bottom: 0px;
  }

  #pic4 {
    height: 170px;
  }

  .page1Content {
    h1 {
      font-size: 18px;
      line-height: 28px;
      bottom: 0px;
    }
  }

  .page2 {
    .page2Content {
      margin-top: 40px;

      h1 {
        font-size: 18px;
        margin: 0;
      }

      h2 {
        font-size: 16px;
        margin: 0;
        margin-top: 5px;
      }

      .collaborations {
        margin-top: 100px;
      }
    }
  }
}

@media screen and (max-device-height: 700px) {
  #pic1 {
    height: 230px;
  }

  #pic2 {
    height: 240px;
    bottom: -20px;
  }

  #pic3 {
    height: 240px;
    bottom: -20px;
  }

  #pic4 {
    height: 190px;
    top: 90px;
  }
}

@media screen and (max-device-width: 325px) {
  #pic1 {
    height: 200px;
  }

  #pic2 {
    height: 200px;
    bottom: -20px;
  }

  #pic3 {
    height: 200px;
    bottom: -20px;
  }

  #pic4 {
    height: 160px;
    top: 90px;
  }

  #descriptionHome {
    font-size: 18px;
    line-height: 24px;
  }

  .page1Content {
    h1 {
      bottom: 0px;
    }
  }

  .page2 {
    .page2Content {
      margin-top: 40px;
    }

    .collaborations {
      margin-top: 90px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }

    h1 {
      font-size: 18px;
      margin: 0;
    }

    h2 {
      font-size: 16px;
      margin: 0;
      margin-top: 5px;
    }
  }

  a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-device-width: 600px) {
  .page2 {
    max-width: 600px;
    margin: 0 auto;
  }

  #pic1 {
    height: 400px;
  }

  #pic2 {
    height: 400px;
    bottom: -20px;
  }

  #pic3 {
    height: 400px;
    bottom: -20px;
  }

  #pic4 {
    height: 360px;
    top: 90px;
  }
}
