html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-y: auto;
  min-height: 100%;
}

* {
  margin: 0;
  overflow-y: auto;
}

@import "animations";
@import "page1Content";

.home-wrapper {
  background: black;
  -webkit-overflow-scrolling: touch;
}

.page2 {
  position: relative;
  height: 200vh;
  width: 100vw;
  background: black;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: relative;
}

.headerActive {
  width: 100vw;
  height: 90px;
  z-index: 33;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  background: linear-gradient(to bottom, #000, rgba(#000, 0));
}

#hamburger-item {
  height: 18px;
  position: absolute;
  right: 30px;
  margin-top: 42px;
  opacity: 0;
}

#descriptionHome {
  font-size: 20px;
  margin-bottom: 60px;
  height: initial;
  overflow: hidden;
}

.page1 {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    color: white;
    opacity: 0.6;
    line-height: 35px;
    margin: 0;
    font-size: 20px;
    font-family: GTExtended;
  }

  #hellotext1 {
    font-size: 20px;
    animation-name: textAnim2;
    animation-duration: 2s;
  }

  #ace-logo {
    width: 200px;
    height: 88px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    animation-name: textAnim;
    animation-duration: 2s;
  }

  #hellotext2 {
    font-size: 20px;
    margin-bottom: 40px;
    animation-name: textAnim2;
    animation-duration: 2s;
  }
}

#pic1,
#pic2,
#pic3,
#pic4 {
  height: 200px;
  position: absolute;
}

#pic1 {
  height: 250px;
  left: -50px;
  top: 0px;
  transform: rotate(20deg);

  animation-name: example1;
  animation-duration: 1s;
}

#pic2 {
  height: 250px;
  left: -40px;
  bottom: 20px;
  transform: rotate(10deg);

  animation-name: example2;
  animation-duration: 1s;
}

#pic3 {
  height: 250px;
  right: -50px;
  bottom: 0px;
  transform: rotate(-10deg);

  animation-name: example3;
  animation-duration: 1s;
}

#pic4 {
  right: -60px;
  top: 110px;
  transform: rotate(-20deg);

  animation-name: example4;
  animation-duration: 1s;
}

@import "responsive";
@import "page3";

#descriptionHome {
  font-size: 20px;
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
}

h1,
h2,
h3,
p {
  height: initial;
  overflow: hidden;
}
