html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  overflow-y: auto;
}

@font-face {
  font-family: FuturaBold;
  src: url(fonts/gtcondensedblack.otf);
}

@font-face {
  font-family: GTMono;
  src: url(fonts/gtmonomedium.otf);
}

@font-face {
  font-family: GTExtended;
  src: url(fonts/gtlight.otf);
}

@font-face {
  font-family: GT;
  src: url(fonts/sfproheavy.otf);
}

.home-wrapper {
  height: 100vh;
  background: black;
  -webkit-overflow-scrolling: touch;
}

.page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: darkgray;
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.headerActive {
  width: 100vw;
  z-index: 33;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
}

#hamburger-item {
  height: 18px;
  position: absolute;
  right: 30px;
  margin-top: 42px;
  opacity: 0;
}

.page1 {
  z-index: 1;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .middleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: textAnim;
    animation-duration: 2s;
  }

  h1 {
    text-align: center;
    color: white;
    opacity: 0.3;
    line-height: 40px;
    margin: 0;
    font-family: GTExtended;
  }

  #hellotext1 {
    font-size: 20px;
  }

  #ace-logo {
    width: 200px;
    height: 88px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #hellotext2 {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

#pic1,
#pic2,
#pic3,
#pic4 {
  height: 200px;
  position: absolute;
}

#pic1 {
  height: 250px;
  left: -50px;
  top: 0px;
  transform: rotate(20deg);

  animation-name: example1;
  animation-duration: 1s;
}

#pic2 {
  height: 230px;
  left: -40px;
  bottom: 30px;
  transform: rotate(10deg);

  animation-name: example2;
  animation-duration: 1s;
}

#pic3 {
  height: 250px;
  right: -50px;
  bottom: 0px;
  transform: rotate(-10deg);

  animation-name: example3;
  animation-duration: 1s;
}

#pic4 {
  right: -60px;
  top: 110px;
  transform: rotate(-20deg);

  animation-name: example4;
  animation-duration: 1s;
}

@keyframes textAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes example1 {
  from {
    left: -200px;
  }
  to {
    left: -50px;
  }
}

@keyframes example2 {
  from {
    left: -200px;
  }
  to {
    left: -40px;
  }
}

@keyframes example3 {
  from {
    right: -200px;
  }
  to {
    right: -50px;
  }
}

@keyframes example4 {
  from {
    right: -200px;
  }
  to {
    right: -60px;
  }
}
