* {
  margin: 0;
}

@font-face {
  font-family: FuturaBold;
  src: url(fonts/gtcondensedblack.otf);
}

@font-face {
  font-family: GTMono;
  src: url(fonts/gtmonomedium.otf);
}

@font-face {
  font-family: GTExtended;
  src: url(fonts/gtlight.otf);
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: #f7ece1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: auto;
}

.inner {
  height: 100vh;
  width: 80%;
  max-width: 60rem;
  padding-top: 2rem;
  position: relative;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 200px 50px 150px 100px;
}

.links {
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.links h1 {
  text-align: center;
  font-family: GTMono;
  font-size: 1.1rem;
  color: #242038;
}

.logoContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#aceLogo {
  max-width: 12vw;
}

.title h1 {
  font-family: FuturaBold;
  font-size: 6vw;
  color: #242038;
}

.paragraph {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
}

p {
  font-family: GTMono;
  color: #725ac1;
  font-size: 1.5vw;
}

h2 {
  font-family: GTExtended;
  color: #242038;
  font-size: 2.5em;
  font-weight: 500;
  margin-top: 1rem;
  grid-column: 1 / -1;
}

#buttonSayHi {
  margin-top: 1rem;
  width: 100%;
  grid-column: 1 / -1;
}
