* {
  margin: 0;
}

@font-face {
  font-family: FuturaBold;
  src: url(gtcondensedblack.otf);
}

@font-face {
  font-family: GTMono;
  src: url(gtmonomedium.otf);
}

@font-face {
  font-family: GTExtended;
  src: url(gtlight.otf);
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: #f7ece1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner {
  height: 100vh;
  min-width: 60rem;
  position: relative;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aceLogo {
  max-width: 8.5rem;
  position: absolute;
  right: 0;
}

.text {
  width: 100%;
}

#title h1 {
  font-family: FuturaBold;
  font-size: 5em;
  color: #242038;
  line-height: 4rem;
}

#smartTitle {
  display: flex;
  flex-direction: row;
}
#smart {
  margin-left: 1rem;
  background: #242038;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0.5rem;
}

#smart h1 {
  color: #f7ece1;
}

p {
  font-size: 1.1em;
  margin-top: 2.5rem;
  font-family: GTMono;
  color: #725ac1;
}

h2 {
  font-family: GTExtended;
  color: #242038;
  font-size: 2.5em;
  line-height: 3rem;
  letter-spacing: -0.1rem;
  font-weight: 500;
  margin-top: 1rem;
}

#buttonSayHi {
  margin-top: 1rem;
  width: 100%;
}
